*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  height: 100vh;
  background-color: #162050;
  font-family: "Poppins", sans-serif;
  display: grid;
  place-content: center;
}
.container {
  border-radius: 11px;
  background-color: #fff;
  /* max-width: 70rem; */
  width: 60rem;
  padding: 1.6rem;
}
.title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #333;
  border-bottom: 1px solid #333;
  padding-bottom: 0.8rem;
}
.question {
  display: flex;
  gap: 0.4rem;
  font-size: 1.8rem;
  margin: 2.4rem 0;
  color: #333;
  font-weight: 600;
}

.answers {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.btn {
  padding: 0.8rem;
  font-size: 1.8rem;
  font-weight: 600;
  text-align: start;
  background: none;
  border-radius: 8px;
  border: 1px solid #333;
  cursor: pointer;
  color: #162050;
}
*:focus {
  outline: none;
}

.next {
  margin: 2.4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-next {
  background: none;
  border: none;
  padding: 1.2rem 4.8rem;
  background-color: #162050;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 600;
}

.hidden {
  display: none;
}
